@using Microsoft.AspNetCore.Identity
@using MobileWeb.Models.Entities
@using MobileWeb.Services.CartService

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ICartService CartService

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		if (User.IsInRole("Admin"))
		{
			<li class="nav-item me-3">
				<a class="nav-link fw-bold" asp-controller="Home" asp-action="Index" asp-area="Admin">
					@UserManager.GetUserName(User)
				</a>
			</li>
		}
		else 
		{
			var cart = CartService.GetAllItems();

			@if (cart != null)
			{
				<a asp-controller="Shop" asp-action="ShowCart" class="nav-link position-relative text-decoration-none me-3">
					<i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
					<span class="position-absolute top-10 left-100 translate-middle badge rounded-pill bg-light text-dark">@cart.Count()</span>
				</a>
			}
			<li class="nav-item dropdown me-3">
				@*<img src="">*@

				<a asp-controller="User" asp-action="Index" asp-route-uid="@UserManager.GetUserId(User)" class="nav-link fw-bold">
					@UserManager.GetUserName(User)
				</a>

				@*<ul class="dropdown-menu" aria-labelledby="dropdown-menu">
					<li>
						<a class="dropdown-item" asp-controller="User" asp-action="Index" asp-route-uid="@UserManager.GetUserId(User)">Hồ sơ</a>
					</li>
					<li>
						<a class="dropdown-item" asp-controller="Account" asp-action="Logout" asp-area="Identity">Đăng xuất</a>
					</li>
				</ul>*@

				@*<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Action</a></li>
					<li><a class="dropdown-item" href="#">Another action</a></li>
					<li><a class="dropdown-item" href="#">Something else here</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="#">Separated link</a></li>
				</ul>*@

			</li>
		}

		<li class="nav-item">
			<a asp-controller="Account" asp-action="Logout" asp-area="Identity" type="button" class="nav-link fw-bold">Đăng xuất</a>
		</li>

	}
	else
	{
		<li class="nav-item">
			<a asp-controller="Account" asp-action="Login" asp-area="Identity" type="button" class="nav-link fw-bold">Đăng nhập</a>
		</li>

		<li class="nav-item">
			<a asp-controller="Account" asp-action="Register" asp-area="Identity" type="button" class="nav-link ms-2 fw-bold">Đăng ký</a>
		</li>
	}
</ul>