@using Microsoft.AspNetCore.Identity
@using MobileWeb.Models.Entities

@inject UserManager<User> userManger

@{
	ViewData["Title"] = "Giỏ hàng";
	double totalPrice = 0;
}

@model IEnumerable<CartItem>

@if (Model.Count() == 0)
{
	<div class="container py-5 mb-5">
		<h3 class="alert alert-warning mb-5 pb-4">Giỏ hàng trống!</h3>
	</div>
}
else
{
	<section class="h-100">
		<div class="container h-100 py-4">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12">
					<div class="d-flex justify-content-between align-items-center mb-4">
						<h2 class="mb-0 text-success">Giỏ hàng</h2>
						<div>
							<p class="mb-0">
								<a asp-controller="Cart" asp-action="ClearCart" class="btn btn-outline-success text-decoration-none"
							   onclick="return confirm('Bạn muốn xóa tất cả sản phẩm trong giỏ?')">
									Xóa tất cả
								</a>
							</p>
						</div>
					</div>

					@foreach (var item in Model)
					{
						<div class="card rounded mb-4 shadow-sm">
							<div class="card-body py-3">
								<div class="row d-flex justify-content-between align-items-center">
									<div class="col-md-2 col-lg-2 col-xl-1 ">
										<img src="~/img/products/@item.Product.ImgUrl" width="100" height="100" class="img-fluid rounded-3" alt="Cotton T-shirt">
									</div>

									<div class="col-md-3 col-lg-3 col-xl-4">
										<p class="lead fw-bold text-black mb-2">@item.Product.Name</p>
										<p class="m-0"><span class="text-success fst-italic fw-bold">Color: </span>@item.Product.Color</p>
									</div>

									<div class="col-md-2 col-lg-2 col-xl-2 d-flex">
										<form asp-action="UpdateCart" class="row">
											<button class="btn btn-link px-2 col-4" onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
												<i class="fas fa-minus"></i>
											</button>

											<input name="pid" value="@item.Product.Id" type="hidden" />
											<input asp-for="@item.Quantity" name="quantity" type="number" class="col-4" />

											<button class="btn btn-link px-2 col-4" onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
												<i class="fas fa-plus"></i>
											</button>
										</form>
									</div>

									<div class="col-md-2 col-lg-2 col-xl-1">
										<h5 class="mb-0">@item.Product.Price $</h5>
									</div>


									<div class="col-md-1 col-lg-1 col-xl-1 text-center">
										<a asp-controller="Cart" asp-action="RemoveItemById" asp-route-id="@item.Product.Id" class="text-danger"
								   onclick="return confirm('Bạn muốn xóa sản phẩm @item.Product.Name này?')">
											<i class="fas fa-trash fa-lg"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						{
							totalPrice += @item.TotalPrice;
						}
					}

					@*<div class="card mb-4 shadow-sm row">
				<div class="card-body d-flex">
				<p class="col-10">Tổng tiền</p>
				<p class="col-2">@totalPrice ($)</p>
				</div>
				</div>*@

					<div class="card mb-4 shadow-sm">
						<div class="card-body d-flex flex-row pt-4 pb-0 px-4">
							<h3 class="col-10 mb-0 text-end fst-italic">Tổng thanh toán:</h3>
							<h3 class="col-2 mb-0 text-end fw-bold text-danger">@totalPrice ($)</h3>
						</div>
						<div class="card-body p-4 d-flex flex-row">
							<div class="form-floating flex-fill">
								<input type="text" id="form1" class="form-control " placeholder="Nhập mã giảm giá..." />
								<label class="text-dark" for="form1">Mã giảm giá</label>
							</div>
							<button type="button" class="border border-3 border-success btn btn-outline-success ms-3 fw-bold text-uppercase">Áp dụng</button>
						</div>
						<div class="card-body p-4 pt-0">
							<a asp-controller="User" asp-action="CheckOut" asp-route-uname="@User.Identity?.Name" class="border border-3 border-success btn btn-outline-success btn-block btn-lg w-100 fw-bold text-uppercase">Thanh toán</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
}
