@model IEnumerable<MobileWeb.Models.Entities.Product>

@{
	ViewData["Title"] = "Sản phẩm";
}

<h1>Danh sách sản phẩm</h1>
<hr />

<p>
	<a asp-action="Create" class="btn btn-primary">Tạo sản phẩm mới</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>Hình ảnh</th>
			<th>Tên sản phẩm</th>
			<th>Giá</th>
			<th>Số lượng trong kho</th>
			<th>Hãng</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.ImgUrl</td>
				<td>@item.Name</td>
				<td>@item.Price</td>
				<td>@item.Quantity</td>
				<td>@item.Category?.Name</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> 
					<span class="m-2">|</span>
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
					<span class="m-2">|</span>
					<a asp-action="Delete" asp-route-id="@item.Id" 
						onclick="confirm('Bạn muốn xóa sản phẩm này?')">
						Xóa
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
