@model IEnumerable<MobileWeb.Models.Entities.Product>

@{
	ViewData["Title"] = "Sản phẩm";
}

<div class="d-flex justify-content-between mb-3">
	<h2 class="text-black fst-italic fw-bold">Danh sách sản phẩm</h2>
	<div>
		<a asp-action="Create" class="btn btn-success fw-bold">Tạo sản phẩm mới</a>
	</div>
</div>

<table class="table table-sm table-hover">
	<thead>
		<tr class="text-black">
			<th>Hình ảnh</th>
			<th>Tên sản phẩm</th>
			<th>Giá</th>
			<th>Số lượng</th>
			<th>Hãng</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr class="text-black">
				<td class=""><img src="~/img/products/@item.ImgUrl" width="40" height="40"></td>
				<td>@item.Name</td>
				<td>@item.Price$</td>
				<td>@item.Quantity</td>
				<td>@item.Category?.Name</td>

				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a>
					<span class="m-2">|</span>
					<a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a>
					<span class="m-2">|</span>
					<a asp-action="Delete" asp-route-id="@item.Id"
						onclick="return confirm('Bạn muốn xóa @item.Name?')">
						Xóa
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>
