@model IEnumerable<MobileWeb.Models.User>

@{
	ViewData["Title"] = "Danh sách khách hàng";
	Layout = "_Admin";
}

<style>
	th, td {
		border: solid 1px #ccc;
	}
</style>

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm khách hàng</a>
</p>
<table class="table table-striped" style="border: solid 1px #ccc; border-collapse: collapse">
	<thead>
		<tr>
			<th>
				Tên khách hàng
			</th>
			<th>
				Email
			</th>
			<th>
				Mật khẩu
			</th>
			<th>
				Địa chỉ
			</th>
			@*<th>
				@Html.DisplayNameFor(model => model.AvatarUrl)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Address)
				</td>
				@*<td>
					@Html.DisplayFor(modelItem => item.AvatarUrl)
				</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.Role)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
